@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto-Bold;
  src: url("../../public/fonts/Roboto-Bold.ttf") format("TrueType");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../../public/fonts/Roboto-Regular.ttf") format("TrueType");
}

:root {

}

body {
  @apply bg-White text-Dark-Slate-Grey lg:bg-Charcoal-Grey lg:flex lg:items-center lg:justify-center lg:h-screen 
}
